
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
}

main{
  height: 100vh;
  width: 100vw;
}

img{
  height: 300px;
  width: 300px;
  margin: 5px 10px;
  border-radius: 20px;
  z-index: 1;
}

img:hover{
  cursor: pointer;
}

img:hover::after{
  content: "";
  display: block;
  background-color: #e60000;
  transition: ease-in-out 1s;
}

button {
  color: #090909;
  margin: 5px;
  padding: 0.7em 1.7em;
  font-size: 1rem;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
}

button:hover {
  cursor: pointer;
  border: 1px solid white;
}

button:active {
  box-shadow: 4px 4px 12px #c5c5c5,
              -4px -4px 12px #ffffff;
}

section{
  height: auto;
  width: 100vw;
  background-color: #f8f8ff;
}

section h1{
  font-size: 4rem;
  padding: 10px;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

section h1::after{
 content: "";
 display: block;
 border-top: 2px solid #e60000;
}

section p{
  font-size: 1.5rem;
  line-height: 2.5;
  padding: 10px;
}

/* Full Image Elements */

.fullImage{
width:100%;
height: 100vh;
background: rgba(0,0,0,0.9);
position: fixed;
top: 0;
left: 0;
display: none;
align-items: center;
justify-content: center;
z-index: 4;
}

.fullImage img{
width: 500px;
height: 550px;
max-width: 500px;
}

span{
position: absolute;
top: 5%;
right: 5%;
font-size: 30px;
color: white;
cursor: pointer;
}

#img-caption{
  position: relative;
  height: auto;
  width: 500px;
  color: #CCCCCC;
  font-size: 25px;
  z-index: 2;
}

header h1::after{
  content: " | el-Hajj Malik el-Shabazz";
}

ul{
  list-style: none;
}

a{
  color:#0d0d0d;
  text-decoration: none;
}

li{
  display: block;
  padding: 10px 5px;
  font-size: 35px;
  text-align: center;
}

a:hover{
  color: #e60000;
}

a::after{
  content: "";
  display: block;
  border: 1px solid #e60000;
  margin: 5px;
  transform: scale(0);
}

a:hover::after{
  content: "";
  display: block;
  border: 1px solid #e60000;
  margin: 5px;
  transform: scale(1);
  transition: ease-in-out 1s;
}

/* Side Widget */
#side-widget{
  position: fixed;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100px;
  padding: 5px;
  border-radius: 100px;
  background-color: #f8f8ff;
  opacity: 0.5;
  z-index: 3;
}

#side-widget img{
  height: inherit;
  width: 75px;
}

#side-widget:hover{
  cursor: pointer;
}

/* Side Menu */
#side-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  display: none;
  width: 20%;
  height: 100vh;
  top: 0;
  left: 80%;
  right: 0;
  bottom: 0;
  padding: 5px;
  background: rgba( 255, 255, 255, 0.25 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 3;
}

#side-menu div{
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 45px;
  color: #e60000;
  cursor: pointer;
}

/* Header Elements */
header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  color: #0d0d0d;
  padding: 0 25px;
  width: 100vw;
  height: 250px;
  background-color: #f8f8ff;
  padding: 5px 45px;
}

#title{
  font-size: 2rem;
  padding: 5px 0;
  background: #f8f8ff;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

#early-life,#NOI{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

#early-life{
  background-image: url("imgs/malcolmx-ella.jpg");
  background-position: 75%;
}

#NOI{
  background-image: url("imgs/NOI-1.jpg");
}


.page_overlay{
  position: fixed; 
  display: none; 
  width: 100vw; 
  height: 100vh; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 5;
}

.overlay{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.7);
  z-index: 0;
}

.modal{
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75vh;
  width: 75vw;
  padding: 10px;
  background: rgba( 255, 255, 255, 0.9 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  overflow-y: scroll;
  z-index: 6;
}

.modal h1{
  font-size: 3rem;
}

.modal p{
  font-size: 1.5rem;
}