
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
}

main{
  height: 100vh;
  width: 100vw;
}

section{
  height: 300px;
  width: 100vw;
  background-color: #f8f8ff;
}
header h1::after{
  content: " | el-Hajj Malik el-Shabazz";
}

ul{
  list-style: none;
}

a{
  color:#0d0d0d;
  text-decoration: none;
}

li{
  display: inline-block;
  padding: 10px 5px;
  font-size: 25px;
}

a:hover{
  color: #e60000;
}

a::after{
  content: "";
  display: block;
  border: 1px solid #e60000;
  margin: 5px;
  transform: scale(0);
}

a:hover::after{
  content: "";
  display: block;
  border: 1px solid #e60000;
  margin: 5px;
  transform: scale(1);
  transition: ease-in-out 1s;
}

/* Header Elements */

header,#title,#navagation{
  display: flex;
}

header{
  position: sticky;
  justify-content: space-between;
  color: #0d0d0d;
  padding: 0 25px;
  width: 100vw;
  background-color: #f8f8ff;
  padding: 5px 15px;
}

#title,#navagation{
  height: 200px;
  width: auto;
}

#title{
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  padding: 5px 0;
  background: #f8f8ff;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

#navagation{
  justify-content: center;
  align-items: flex-end;
  margin: auto;
}

#early-life{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("imgs/malcolmx-ella.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 75%;
  height: 100vh;
  width: 100vw;
}


